@import url("https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Anta&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Rubik', sans-serif; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.boton {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black; }

@keyframes brillo {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes flash {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes flash-diagonal {
  0% {
    transform: translate(-100%, -100%);
    opacity: 0; }
  50% {
    transform: translate(100%, 100%);
    opacity: 1; }
  100% {
    transform: translate(-100%, -100%);
    opacity: 0; } }

.nav-item:hover {
  animation: brillo 1s forwards; }

.main_section .banner_1 {
  width: 100%;
  display: flex;
  justify-content: center; }
  .main_section .banner_1 img {
    width: 100%; }
    .main_section .banner_1 img:hover {
      animation: brillo 1s forwards; }

.main_section .banner_2 {
  display: none; }

.main_section h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: radial-gradient(grey);
  font-family: 'Rubik', sans-serif;
  box-shadow: 0px 1px 4px 9px #3f3b24a4; }

.main_section section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px; }
  .main_section section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; }
    .main_section section article a img {
      height: 300px; }
    .main_section section article h3 {
      height: 30px;
      font-size: 15px;
      margin: 0px; }
    .main_section section article span {
      font-size: 15px;
      margin: 0px; }
    .main_section section article button {
      margin: 5px; }
  .main_section section .img_car_1 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section section .img_car_1:hover {
      animation: brillo 1s forwards; }
  .main_section section .img_car_2 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section section .img_car_2:hover {
      animation: brillo 1s forwards; }
  .main_section section .img_car_3 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section section .img_car_3:hover {
      animation: brillo 1s forwards; }
  .main_section section .img_car_4 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section section .img_car_4:hover {
      animation: brillo 1s forwards; }
  .main_section section .img_car_5 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section section .img_car_5:hover {
      animation: brillo 1s forwards; }
  .main_section section .img_car_6 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section section .img_car_6:hover {
      animation: brillo 1s forwards; }
  .main_section section .img_car_7 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section section .img_car_7:hover {
      animation: brillo 1s forwards; }
  .main_section section .img_car_8 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section section .img_car_8:hover {
      animation: brillo 1s forwards; }

.main_section h2 {
  box-shadow: 0px 1px 4px 9px #3f3b24a4;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 98%;
  margin-left: 5px; }

.main_section .grid_banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 14px;
  gap: 5px;
  background-position: center;
  grid-template-areas: "grid_pop grid_case grid_bat" "grid_pop grid_lam grid_lam"; }
  .main_section .grid_banner img {
    width: 100%; }
  .main_section .grid_banner .grid_pop {
    grid-area: grid_pop;
    width: 33vw;
    background-image: url("../resources/banner_pop.jpg"); }
    .main_section .grid_banner .grid_pop:hover {
      animation: brillo 2s forwards; }
  .main_section .grid_banner .grid_case {
    grid-area: grid_case;
    width: 30vw;
    background-image: url("../resources/anner_cases_flipcovers.jpg"); }
    .main_section .grid_banner .grid_case:hover {
      animation: brillo 2s forwards; }
  .main_section .grid_banner .grid_bat {
    grid-area: grid_bat;
    width: 30.3vw;
    background-image: url("../resources/banner_baterias.jpg"); }
    .main_section .grid_banner .grid_bat:hover {
      animation: brillo 2s forwards; }
  .main_section .grid_banner .grid_lam {
    grid-area: grid_lam;
    width: 62vw;
    background-image: url("../resources/banner_laminas.jpg"); }
    .main_section .grid_banner .grid_lam:hover {
      animation: brillo 2s forwards; }

@media (max-width: 600px) {
  .main_section .banner_1 {
    display: none; }
  .main_section .banner_2 {
    display: flex;
    width: 100%;
    justify-content: center; }
    .main_section .banner_2:hover {
      animation: brillo 2s forwards; }
  .main_section h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 70px; }
  .main_section .grid_banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .main_section .grid_banner .grid_pop {
      display: none; }
    .main_section .grid_banner .grid_case {
      grid-area: grid_case;
      width: 100%; }
      .main_section .grid_banner .grid_case:hover {
        animation: brillo 2s infinite; }
    .main_section .grid_banner .grid_bat {
      grid-area: grid_bat;
      width: 100%; }
      .main_section .grid_banner .grid_bat:hover {
        animation: brillo 2s infinite; }
    .main_section .grid_banner .grid_lam {
      grid-area: grid_lam;
      width: 100%; }
      .main_section .grid_banner .grid_lam:hover {
        animation: brillo 2s infinite; }
  .main_section h2 {
    margin: 10px;
    font-size: 20px;
    width: 97%; }
  .main_section section {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .main_section section .img_car_1 {
      border: solid 1px #808080;
      width: 70%; }
    .main_section section .img_car_2 {
      border: solid 1px #808080;
      width: 70%; }
    .main_section section .img_car_3 {
      border: solid 1px #808080;
      width: 70%; }
    .main_section section .img_car_4 {
      border: solid 1px #808080;
      width: 70%; }
    .main_section section .img_car_5 {
      border: solid 1px #808080;
      width: 70%; }
    .main_section section .img_car_6 {
      border: solid 1px #808080;
      width: 70%; }
    .main_section section .img_car_7 {
      border: solid 1px #808080;
      width: 70%; }
    .main_section section .img_car_8 {
      border: solid 1px #808080;
      width: 70%;
      margin: 0px; } }

footer {
  width: 97%; }

.navbar-brand img {
  width: 120px; }

.navbar ul li a {
  font-family: "Anta", sans-serif;
  margin: 20px;
  color: black; }
  .navbar ul li a:hover {
    text-decoration: underline;
    transition: .3s;
    lighting-color: #badada; }

.main_section_ccs h1 {
  box-shadow: 0px 1px 4px 9px #3f3b24a4;
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 96%; }

.main_section_ccs section {
  display: flex;
  flex-wrap: wrap; }
  .main_section_ccs section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: solid 1px #808080; }
    .main_section_ccs section article img {
      height: 200px; }
    .main_section_ccs section article h3 {
      height: 30px;
      font-size: 15px;
      margin: 0px; }
    .main_section_ccs section article span {
      font-size: 15px;
      margin: 0px; }
    .main_section_ccs section article button {
      margin: 5px; }
  .main_section_ccs section .img_ccs_1 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_ccs section .img_ccs_1:hover {
      animation: brillo 1s forwards; }
  .main_section_ccs section .img_ccs_2 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_ccs section .img_ccs_2:hover {
      animation: brillo 1s forwards; }
  .main_section_ccs section .img_ccs_3 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_ccs section .img_ccs_3:hover {
      animation: brillo 1s forwards; }
  .main_section_ccs section .img_ccs_4 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_ccs section .img_ccs_4:hover {
      animation: brillo 1s forwards; }
  .main_section_ccs section .img_ccs_5 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_ccs section .img_ccs_5:hover {
      animation: brillo 1s forwards; }
  .main_section_ccs section .img_ccs_6 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_ccs section .img_ccs_6:hover {
      animation: brillo 1s forwards; }
  .main_section_ccs section .img_ccs_7 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_ccs section .img_ccs_7:hover {
      animation: brillo 1s forwards; }
  .main_section_ccs section .img_ccs_8 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_ccs section .img_ccs_8:hover {
      animation: brillo 1s forwards; }

@media (max-width: 600px) {
  .main_section_ccs h1 {
    display: flex;
    width: 96%;
    justify-content: center; }
  .main_section_ccs section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .main_section_ccs section .img_ccs_1 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_ccs section .img_ccs_1:hover {
        animation: brillo 1s forwards; }
    .main_section_ccs section .img_ccs_2 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_ccs section .img_ccs_2:hover {
        animation: brillo 1s forwards; }
    .main_section_ccs section .img_ccs_3 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_ccs section .img_ccs_3:hover {
        animation: brillo 1s forwards; }
    .main_section_ccs section .img_ccs_4 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_ccs section .img_ccs_4:hover {
        animation: brillo 1s forwards; }
    .main_section_ccs section .img_ccs_5 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_ccs section .img_ccs_5:hover {
        animation: brillo 1s forwards; }
    .main_section_ccs section .img_ccs_6 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_ccs section .img_ccs_6:hover {
        animation: brillo 1s forwards; }
    .main_section_ccs section .img_ccs_7 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_ccs section .img_ccs_7:hover {
        animation: brillo 1s forwards; }
    .main_section_ccs section .img_ccs_8 {
      border: solid 1px #808080;
      width: 70%;
      margin: 0px; }
      .main_section_ccs section .img_ccs_8:hover {
        animation: brillo 1s forwards; } }

.main_section_acce h1 {
  box-shadow: 0px 1px 4px 9px #3f3b24a4;
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 97%; }

.main_section_acce section {
  display: flex;
  flex-wrap: wrap; }
  .main_section_acce section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: solid 1px #808080; }
    .main_section_acce section article img {
      height: 200px; }
    .main_section_acce section article h3 {
      height: 30px;
      font-size: 15px;
      margin: 0px; }
    .main_section_acce section article span {
      font-size: 15px;
      margin: 0px; }
    .main_section_acce section article button {
      margin: 5px; }
  .main_section_acce section .img_acce_1 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_acce section .img_acce_1:hover {
      animation: brillo 1s forwards; }
  .main_section_acce section .img_acce_2 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_acce section .img_acce_2:hover {
      animation: brillo 1s forwards; }
  .main_section_acce section .img_acce_3 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_acce section .img_acce_3:hover {
      animation: brillo 1s forwards; }
  .main_section_acce section .img_acce_4 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_acce section .img_acce_4:hover {
      animation: brillo 1s forwards; }
  .main_section_acce section .img_acce_5 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_acce section .img_acce_5:hover {
      animation: brillo 1s forwards; }
  .main_section_acce section .img_acce_6 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_acce section .img_acce_6:hover {
      animation: brillo 1s forwards; }
  .main_section_acce section .img_acce_7 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_acce section .img_acce_7:hover {
      animation: brillo 1s forwards; }
  .main_section_acce section .img_acce_8 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_acce section .img_acce_8:hover {
      animation: brillo 1s forwards; }

@media (max-width: 600px) {
  .main_section_acce h1 {
    display: flex;
    width: 96%;
    justify-content: center; }
  .main_section_acce section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .main_section_acce section .img_acce_1 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_acce section .img_acce_1:hover {
        animation: brillo 1s forwards; }
    .main_section_acce section .img_acce_2 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_acce section .img_acce_2:hover {
        animation: brillo 1s forwards; }
    .main_section_acce section .img_acce_3 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_acce section .img_acce_3:hover {
        animation: brillo 1s forwards; }
    .main_section_acce section .img_acce_4 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_acce section .img_acce_4:hover {
        animation: brillo 1s forwards; }
    .main_section_acce section .img_acce_5 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_acce section .img_acce_5:hover {
        animation: brillo 1s forwards; }
    .main_section_acce section .img_acce_6 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_acce section .img_acce_6:hover {
        animation: brillo 1s forwards; }
    .main_section_acce section .img_acce_7 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_acce section .img_acce_7:hover {
        animation: brillo 1s forwards; }
    .main_section_acce section .img_acce_8 {
      border: solid 1px #808080;
      width: 70%;
      margin: 0px; }
      .main_section_acce section .img_acce_8:hover {
        animation: brillo 1s forwards; } }

.main_section_contacto section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .main_section_contacto section article img {
    height: 300px; }

.main_section_contacto h1 {
  box-shadow: 0px 1px 4px 9px rgba(63, 59, 36, 0.644);
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px; }

@media (max-width: 600px) {
  .contacto {
    height: 400px;
    padding-left: 30px; } }

footer {
  width: 100%; }

.main_section_elec h1 {
  box-shadow: 0px 1px 4px 9px #3f3b24a4;
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 97%; }

.main_section_elec section {
  display: flex;
  flex-wrap: wrap; }
  .main_section_elec section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: solid 1px #808080; }
    .main_section_elec section article img {
      height: 200px; }
    .main_section_elec section article h3 {
      height: 30px;
      font-size: 15px;
      margin: 0px; }
    .main_section_elec section article span {
      font-size: 15px;
      margin: 0px; }
    .main_section_elec section article button {
      margin: 5px; }
  .main_section_elec section .img_elec_1 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_elec section .img_elec_1:hover {
      animation: brillo 1s forwards; }
  .main_section_elec section .img_elec_2 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_elec section .img_elec_2:hover {
      animation: brillo 1s forwards; }
  .main_section_elec section .img_elec_3 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_elec section .img_elec_3:hover {
      animation: brillo 1s forwards; }
  .main_section_elec section .img_elec_4 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_elec section .img_elec_4:hover {
      animation: brillo 1s forwards; }
  .main_section_elec section .img_elec_5 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_elec section .img_elec_5:hover {
      animation: brillo 1s forwards; }
  .main_section_elec section .img_elec_6 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_elec section .img_elec_6:hover {
      animation: brillo 1s forwards; }
  .main_section_elec section .img_elec_7 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_elec section .img_elec_7:hover {
      animation: brillo 1s forwards; }
  .main_section_elec section .img_elec_8 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_elec section .img_elec_8:hover {
      animation: brillo 1s forwards; }

@media (max-width: 600px) {
  .main_section_elec h1 {
    display: flex;
    width: 96%;
    justify-content: center; }
  .main_section_elec section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .main_section_elec section .img_elec_1 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_elec section .img_elec_1:hover {
        animation: brillo 1s forwards; }
    .main_section_elec section .img_elec_2 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_elec section .img_elec_2:hover {
        animation: brillo 1s forwards; }
    .main_section_elec section .img_elec_3 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_elec section .img_elec_3:hover {
        animation: brillo 1s forwards; }
    .main_section_elec section .img_elec_4 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_elec section .img_elec_4:hover {
        animation: brillo 1s forwards; }
    .main_section_elec section .img_elec_5 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_elec section .img_elec_5:hover {
        animation: brillo 1s forwards; }
    .main_section_elec section .img_elec_6 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_elec section .img_elec_6:hover {
        animation: brillo 1s forwards; }
    .main_section_elec section .img_elec_7 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_elec section .img_elec_7:hover {
        animation: brillo 1s forwards; }
    .main_section_elec section .img_elec_8 {
      border: solid 1px #808080;
      width: 70%;
      margin: 0px; }
      .main_section_elec section .img_elec_8:hover {
        animation: brillo 1s forwards; } }

.main_section_lam h1 {
  box-shadow: 0px 1px 4px 9px #3f3b24a4;
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 97%; }

.main_section_lam section {
  display: flex;
  flex-wrap: wrap; }
  .main_section_lam section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: solid 1px #808080; }
    .main_section_lam section article img {
      height: 200px; }
    .main_section_lam section article h3 {
      height: 30px;
      font-size: 15px;
      margin: 0px; }
    .main_section_lam section article span {
      font-size: 15px;
      margin: 0px; }
    .main_section_lam section article button {
      margin: 5px; }
  .main_section_lam section .img_lam_1 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_lam section .img_lam_1:hover {
      animation: brillo 1s forwards; }
  .main_section_lam section .img_lam_2 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_lam section .img_lam_2:hover {
      animation: brillo 1s forwards; }
  .main_section_lam section .img_lam_3 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_lam section .img_lam_3:hover {
      animation: brillo 1s forwards; }
  .main_section_lam section .img_lam_4 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_lam section .img_lam_4:hover {
      animation: brillo 1s forwards; }
  .main_section_lam section .img_lam_5 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_lam section .img_lam_5:hover {
      animation: brillo 1s forwards; }
  .main_section_lam section .img_lam_6 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_lam section .img_lam_6:hover {
      animation: brillo 1s forwards; }
  .main_section_lam section .img_lam_7 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_lam section .img_lam_7:hover {
      animation: brillo 1s forwards; }
  .main_section_lam section .img_lam_8 {
    border: solid 1px #808080;
    width: 25%; }
    .main_section_lam section .img_lam_8:hover {
      animation: brillo 1s forwards; }

@media (max-width: 600px) {
  .main_section_lam h1 {
    display: flex;
    width: 96%;
    justify-content: center; }
  .main_section_lam section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .main_section_lam section .img_lam_1 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_lam section .img_lam_1:hover {
        animation: brillo 1s forwards; }
    .main_section_lam section .img_lam_2 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_lam section .img_lam_2:hover {
        animation: brillo 1s forwards; }
    .main_section_lam section .img_lam_3 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_lam section .img_lam_3:hover {
        animation: brillo 1s forwards; }
    .main_section_lam section .img_lam_4 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_lam section .img_lam_4:hover {
        animation: brillo 1s forwards; }
    .main_section_lam section .img_lam_5 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_lam section .img_lam_5:hover {
        animation: brillo 1s forwards; }
    .main_section_lam section .img_lam_6 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_lam section .img_lam_6:hover {
        animation: brillo 1s forwards; }
    .main_section_lam section .img_lam_7 {
      border: solid 1px #808080;
      width: 70%; }
      .main_section_lam section .img_lam_7:hover {
        animation: brillo 1s forwards; }
    .main_section_lam section .img_lam_8 {
      border: solid 1px #808080;
      width: 70%;
      margin: 0px; }
      .main_section_lam section .img_lam_8:hover {
        animation: brillo 1s forwards; } }
