.navbar-brand {
    img {
        width: 120px;
    }

}

.navbar {
    ul {
        li {
            a {
               font-family: $fuente-link; 
               margin: 20px;
                &:hover {
                    text-decoration: underline;
                    transition: .3s;
                }
            }
        }
    }
}