.main_section {
    .banner_1 {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            &:hover {
                animation: brillo 1s forwards;
            }
        }
    }

    .banner_2 {
        display: none;
    }

    h1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-image: radial-gradient(grey);
        font-family: 'Rubik', sans-serif;
    }

    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5px;

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;

            a {
                img {
                    height: 300px;
                }
            }

            h3 {
                height: 30px;
                font-size: 15px;
                margin: 0px;
            }

            span {
                font-size: 15px;
                margin: 0px
            }

            button {
                margin: 5px;
            }
        }

        .img_car_1 {
            border: solid 1px $gris;
            width: 25%;
            &:hover {
                animation: brillo 1s forwards;
            }
        }

        .img_car_2 {
            border: solid 1px $gris;
            width: 25%;
            &:hover {
                animation: brillo 1s forwards;
            }
        }

        .img_car_3 {
            border: solid 1px $gris;
            width: 25%;
            &:hover {
                animation: brillo 1s forwards;
            }
        }

        .img_car_4 {
            border: solid 1px $gris;
            width: 25%;
            &:hover {
                animation: brillo 1s forwards;
            }
        }

        .img_car_5 {
            border: solid 1px $gris;
            width: 25%;
            &:hover {
                animation: brillo 1s forwards;
            }
        }

        .img_car_6 {
            border: solid 1px $gris;
            width: 25%;
            &:hover {
                animation: brillo 1s forwards;
            }
        }

        .img_car_7 {
            border: solid 1px $gris;
            width: 25%;
            &:hover {
                animation: brillo 1s forwards;
            }
        }

        .img_car_8 {
            border: solid 1px $gris;
            width: 25%;
            &:hover {
                animation: brillo 1s forwards;
            }
        }

    }

    h2 {
        box-shadow: 0px 1px 4px 9px $sombra;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        width: 98%;
        margin-left: 5px;

    }

    .grid_banner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 14px;
        gap: 5px;
        background-position: center;
        grid-template-areas:
            "grid_pop grid_case grid_bat"
            "grid_pop grid_lam grid_lam";

        img {
            width: 100%;
        }

        .grid_pop {
            grid-area: grid_pop;
            width: 33vw;
            background-image: url("../resources/banner_pop.jpg");
            &:hover {
                animation: brillo 2s forwards;
            }
        }

        .grid_case {
            grid-area: grid_case;
            width: 30vw;
            background-image: url("../resources/anner_cases_flipcovers.jpg");
            &:hover {
                animation: brillo 2s forwards;
            }
        }

        .grid_bat {
            grid-area: grid_bat;
            width: 30.3vw;
            background-image: url("../resources/banner_baterias.jpg");
            &:hover {
                animation: brillo 2s forwards;
            }
        }

        .grid_lam {
            grid-area: grid_lam;
            width: 62vw;
            background-image: url("../resources/banner_laminas.jpg");
            &:hover {
                animation: brillo 2s forwards;
            }
        }

    }

}

@media(max-width: 600px) {


    .main_section {

        .banner_1 {
            display: none;
        }

        .banner_2 {
            display: flex;
            width: 100%;
            justify-content: center;
            &:hover {
                animation: brillo 2s forwards;
            }
        }

        h1 {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding-left: 70px;
        }

        .grid_banner {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;


            .grid_pop {
                display: none;
            }

            .grid_case {
                grid-area: grid_case;
                width: 100%;
                &:hover {
                    animation: brillo 2s infinite;
                }
            }

            .grid_bat {
                grid-area: grid_bat;
                width: 100%;
                &:hover {
                    animation: brillo 2s infinite;
                }
            }

            .grid_lam {
                grid-area: grid_lam;
                width: 100%;
                &:hover {
                    animation: brillo 2s infinite;
                }
            }
        }

        h2 {
            margin: 10px;
            font-size: 20px;
            width: 97%;
        }

        section {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .img_car_1 {
                border: solid 1px $gris;
                width: 70%;
            }

            .img_car_2 {
                border: solid 1px $gris;
                width: 70%;
            }

            .img_car_3 {
                border: solid 1px $gris;
                width: 70%;
            }

            .img_car_4 {
                border: solid 1px $gris;
                width: 70%;
            }

            .img_car_5 {
                border: solid 1px $gris;
                width: 70%;
            }

            .img_car_6 {
                border: solid 1px $gris;
                width: 70%;
            }

            .img_car_7 {
                border: solid 1px $gris;
                width: 70%;
            }

            .img_car_8 {
                border: solid 1px $gris;
                width: 70%;
                margin: 0px;
            }
        }
    }


}