.main_section_lam {
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10px;

        img {
            height: 300px;
        }
    }

    h2 {
        box-shadow: 0px 1px 4px 9px rgba(63, 59, 36, 0.644);
        margin: 15px;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        font-family: $fuente-link;
    }
}


.main_section_lam {}

@media(max-width: 600px) {

    .main_section_lam {

        section {

            img {
                height: 270px;
            }

        }
    }
}