.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
	width:200px;
	height:50px;
	background-color:white;
	text-align:center;
	color:black;
	border-radius:20px;
	border:1px solid black;
}

//MIXIN
//el mixin se tiene que declarar entre parentesis
@mixin fondo_destacado ($color-fondo, $alineacion-texto) {
    background-color: $color-fondo;
    color: $azul;
    font-family: monospace;
    text-align: $alineacion-texto;
    padding: 20px;
}