// PALETA DE COLORES DE MI PROYECTO

$magenta-SC:#C01A7D;
$blanco: #fdfffc;
$turquesa: #41EAD4;
$rojo: #ff0022;
$azul: #011627;

// FUENTES DE MI PROYECTO

@import url("https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Anta&display=swap");

$fuente-link: "Anta", sans-serif;